@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

body::-webkit-scrollbar {
  width: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.now-playing::after {
  content: 'Now Playing';
}

.last-played::after {
  content: 'Last Played';
}